
<ion-header class="header-main" style=" background: deepskyblue;">
  <div style="display: inline-flex;width:100%;" > 
    <div>
      <ion-icon name="arrow-back" (click)="backToHome()" style="margin-top:45%;zoom:2"></ion-icon>
    </div>
     
 
  
    <ion-title >
    <p class="color-txt">About</p>
    </ion-title>
   
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card  class="card">
            <ion-label>VKIT CAMPUS</ion-label>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card  class="card">
            <ion-label>OUR GOALS</ion-label>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card  class="card">
            <ion-label>DIRECTIONS</ion-label>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
