<!--
<ion-header>

  <ion-navbar color="dark">
    <ion-title>
    <ion-icon name="md-contact"></ion-icon>
    &nbsp;Sign In</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content style="background-color:blue" class="bg-img">

  <div class="main-content" >
    <div padding text-center class="container-logo">
      <img src="assets/images/logo2.jpg">
    </div>
    <div padding text-center class="container-title">
      <h2>VKIT</h2>
    </div>

    
   
    <div padding class="container-bottom">
    

     

        <ion-list>
          <ion-item padding-right>
            <ion-label>
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-label>
            <ion-input   id="email" type="text" required placeholder="Email *"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
            </ion-label>
              <ion-input   id="password"  required placeholder="Password *"></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right ><ion-icon name="{{passeye}}"></ion-icon></button>
          </ion-item>
        </ion-list>
        <button type="submit" ion-button block  color="primary" >Sign In</button>
   
    

  </div>
  </div>

</ion-content>
