      
   <ion-menu side="start">
      <div>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </div>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label>Messages</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    
      <div class="header" main>
        
          <div class="row">
            <div class="col header-main">
                <ion-buttons slot="start">
                    <ion-menu-button style="color: linen"></ion-menu-button>
                  </ion-buttons>
                  <ion-title style="color:linen; font-size: 25px">VKIT</ion-title>
            </div>
        </div>
      </div>
      
          <div class="content">
              <div class="row">
                  <div class="col-12 title-div">
                    <img src="../../../assets/images/main1.png" class="main-img"style="  width: 100%;
                    height: 110px">
                    <div class="logo-content">
                        <img src="../../../assets/images/logo2.jpg" class="logo-img">
                        <div class="title">
                            <span class="name" style="font-size: 18px;color: linen; margin-top: 7px;">
                              Veer Kunwar Institute Of Technology
                            </span>
                            <div style="margin-top: -7px;">
                                <span class="name" style="font-size: 13px;color: linen; margin-top: 7px;">VK Puram, Bijnor</span>
                            </div>
                            
                            <div class="about-btn">
                                <ion-button color="tertiary" size="small">About Us</ion-button>>
                  
                            </div>
                            
                          </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col" style="background: lightgray;">
                      <div class="block-btn">
                        <ion-button color="danger" size="small" expand="block" style="position: relative;top: 28%;">
                          <p style="text-transform: none;padding-top: 13px;">Academic</p>
                        </ion-button>
                      </div>
                    </div>
                  </div> 


                  <div class="container-fluid">
                      <div class="row">
                          <div class="col left-div" >
                              <div class="row">
                                 <div class="col icon-div">
                                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                   <p class="grid-txt">Messages</p>
                                 </div>
                              </div>
                          </div>
                          <div class="col middle-div">
                              <div class="row">
                                 <div class="col icon-div" >
                                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                   <p class="grid-txt">Messages</p>
                                 </div>
                              </div>
                          </div>
                          <div class="col right-div">
                              <div class="row">
                                 <div class="col icon-div" >
                                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                   <p class="grid-txt">Messages</p>
                                 </div>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col left-div">
                                <div class="row">
                                   <div class="col icon-div" >
                                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col">
                                     <p class="grid-txt">Messages</p>
                                   </div>
                                </div>
                            </div>
                            <div class="col middle-div">
                                <div class="row">
                                   <div class="col icon-div" >
                                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col">
                                     <p class="grid-txt">Messages</p>
                                   </div>
                                </div>
                            </div>
                            <div class="col right-div">
                                <div class="row">
                                   <div class="col icon-div" >
                                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col">
                                     <p class="grid-txt">Messages</p>
                                   </div>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col left-div">
                                  <div class="row">
                                     <div class="col icon-div">
                                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col">
                                       <p class="grid-txt">Messages</p>
                                     </div>
                                  </div>
                              </div>
                              <div class="col middle-div">
                                  <div class="row">
                                     <div class="col icon-div">
                                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col">
                                       <p class="grid-txt">Messages</p>
                                     </div>
                                  </div>
                              </div>
                              <div class="col right-div">
                                  <div class="row">
                                     <div class="col icon-div">
                                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col">
                                       <p class="grid-txt">Messages</p>
                                     </div>
                                  </div>
                              </div>
                            </div>
                  
                </div>
            </div>
    

      
     <!--  <ion-content>
          <div class="content" >
              <div class="row">
                <div class="col-12 title-div">
                  <img src="../../../assets/images/main1.png" class="main-img"style="  width: 360px;
                  height: 96px;">
                  <div class="logo-content">
                      <img src="../../../assets/images/logo2.jpg" class="logo-img">
                      <div class="title">
                          <span class="name" style="font-size: 18px;color: linen; margin-top: 7px;">
                            Veer Kunwar Institute Of Technology
                          </span>
                          <div style="margin-top: -7px;">
                              <span class="name" style="font-size: 13px;color: linen; margin-top: 7px;">VK Puram, Bijnor</span>
                          </div>
                          
                          <div class="about-btn">
                              <ion-button color="tertiary" size="small">About Us</ion-button>>
                
                          </div>
                          
                      </div>
                     
                    
                
                
                  </div>
                  
            
            
                </div>
              </div>
        </div>
      </ion-content> -->

      <!-- 
     -->
    
<!-- <ion-menu>
    <ion-header>
      <ion-toolbar color="primary" text-center>

          <div class="row">
              <div class="col" style="display:inline-flex">
                  <ion-icon  name="menu" (click)="toggleMenu()"></ion-icon>
                  <ion-title >
                      <p class="color-txt">VKIT</p>
                      </ion-title>
        
          
              </div>
            </div>
       
        <div class="navbar"> 
          <div>
             <ion-icon class="menu-icon"name="menu"(click)="toggleMenu()"></ion-icon>
          </div>
          <ion-title>VKIT</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerDirection]="'root'" >
            <ion-icon slot="start"></ion-icon>
            <ion-label>
             Home
            </ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" (click)="logout()">
            <ion-icon slot="start"></ion-icon>
            <ion-label>
             Log Out
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  <ion-header >
    <div class="row">
      <div class="col" style="display:inline-flex">
          <ion-icon name="menu" (click)="toggleMenu()"></ion-icon>
          <ion-title >
              <p class="color-txt">VKIT</p>
              </ion-title>


      </div>
    </div>
    
    <div class="navbar"> 
      <div  class="row">
        <div class="col-3" style="padding-left: 2px;">
            
        </div>
<div class="col-9">
  
</div>
      
     
      </div>
       
    
  
     
    </div>
  </ion-header>



  

<div class="container-fluid">
  
  
      <div class="row">
          <div class="col">
              <div class="row">
                 <div class="col">
                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                 </div>
              </div>
              <div class="row">
                 <div class="col">
                   <p>Messages</p>
                 </div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                 <div class="col">
                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                 </div>
              </div>
              <div class="row">
                 <div class="col">
                   <p>Messages</p>
                 </div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                 <div class="col">
                    <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                 </div>
              </div>
              <div class="row">
                 <div class="col">
                   <p>Messages</p>
                 </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                   <div class="col">
                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                     <p>Messages</p>
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                   <div class="col">
                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                     <p>Messages</p>
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                   <div class="col">
                      <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                     <p>Messages</p>
                   </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="row">
                     <div class="col">
                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                       <p>Messages</p>
                     </div>
                  </div>
              </div>
              <div class="col">
                  <div class="row">
                     <div class="col">
                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                       <p>Messages</p>
                     </div>
                  </div>
              </div>
              <div class="col">
                  <div class="row">
                     <div class="col">
                        <img class="grid-logo" src="../../../assets/icon/student.png"alt="about"  layout-fill>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                       <p>Messages</p>
                     </div>
                  </div>
              </div>
            </div>
  
</div>
  



<ion-grid>
  <ion-card style="height: 107px;">
     
  </ion-card>
</ion-grid> 


<ion-grid class="grid">

  <ion-row>
   
      <div style="display: inline-flex">
        <div (click)="goToCourses()"><i class="fa fa-book fa-5x" aria-hidden="true"></i></div>
        <div><img  src="../../../assets/icon/conversation.png"alt="about"(click)="goToAbout()"  layout-fill></div>
        <div><img  src="../../../assets/icon/mortarboard.png"alt="about" layout-fill></div>
      </div>
    
  </ion-row>
  
  <ion-row>
   
      <div style="display: inline-flex">
        <div><img src="../../../assets/icon/school (1).png"alt="about"  layout-fill></div>
        <div><img  src="../../../assets/icon/student.png"alt="about"  layout-fill></div>
        <div><img   src="../../../assets/icon/bookshelf.png"alt="about" layout-fill></div>
      </div>
    
  </ion-row>
  
  <ion-row>
   
      <div style="display: inline-flex">
        <div><img src="../../../assets/icon/school.png"alt="about"  layout-fill></div>
        <div><img  src="../../../assets/icon/conversation.png"alt="about"(click)="goToAbout()"  layout-fill></div>
        <div><img  src="../../../assets/icon/mortarboard.png"alt="about" layout-fill></div>
      </div>
    
  </ion-row>


  <mat-grid-list cols="3" rowHeight="1:1"class="list1">
    <mat-grid-tile><ion-icon (click)="goToCourses()"><img src="../../../assets/icon/scholarship.png"alt="Courses"  layout-fill></ion-icon></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/icon/conversation.png"alt="about"(click)="goToAbout()" layout-fill></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/icon/mortarboard.png"alt="about" layout-fill></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="1:1"class="list2">
    <mat-grid-tile><img src="../../../assets/icon/school (1).png"alt="about" layout-fill></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/icon/student.png"alt="about" layout-fill></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/icon/bookshelf.png"alt="about" layout-fill></mat-grid-tile>
    
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="1:1"class="list3">
    <mat-grid-tile><img src="../../../assets/icon/school.png"alt="about" layout-fill></mat-grid-tile>
    <mat-grid-tile>courses</mat-grid-tile>
    <mat-grid-tile>about</mat-grid-tile>
    
  </mat-grid-list>
</ion-grid>

</div> -->
